@model IEnumerable<WebApp_Site_vendas.Models.CarrinhoCompras>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="container">
    <h3><i class="fas fa-shopping-cart" style="font-size:30px"></i>  Meu carrinho de compras:</h3><br />
</div>
@foreach (var item in Model)
{
    <div class="container">
        <ul class="list-group mb-3">
            <li class="list-group-item py-3">
                <div class="list-group-item py-3">
                    <div class="row g-3">
                        <div class="col-4 col-md-3 col-lg-2">
                            <a href="">
                                <img src="~/img/produtos/plantas exterior/cacto de natal.jpeg" class="img-thumbnail" />
                            </a>
                        </div>
                        <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                            <h4>
                                <a asp-controller="Produtos" asp-action="Details" asp-route-id="@item.ProdutoId" class="text-decoration-none">@Html.DisplayFor(modelItem => item.Nome)</a>
                            </h4>
                        </div>
                        <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                            <div class="input-group">
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    <i class="fas fa-sort-down" style="font-size: 16px; line-height: 16px;"></i>
                                </button>
                                <input type="text" class="form-control text-center border-dark" name="name" value="1" />
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    <i class="fas fa-sort-up" style="font-size: 16px; line-height: 16px;"></i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm border-dark" type="button">
                                    <i class="fas fa-trash-alt" style="font-size: 16px; line-height: 16px;"></i>
                                </button>
                            </div>
                            <div class="text-right mt-2">
                                <small class="text-secondary">Valor unitário: € @Html.DisplayFor(modelItem => item.PrecoUnit)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </li>            
        </ul>
    </div>
}
<div class="container">
    <div class="list-group-item pt-3 pb-0">
        <div class="text-right">
            <h4 class="text-dark mb-3">
                Valor total: €
            </h4>
            <a asp-controller="Home" asp-action="Index" asp-route-id="" class="btn btn-success btn-lg mb-3 mr-3">
                Continuar a comprar
            </a>
            <a asp-controller="Produtos" asp-action="FechamentoCompra" asp-route-id="" class="btn btn-success btn-lg mb-3">
                Encomendar
            </a>
        </div>
    </div>
</div>


