
@{
    ViewData["Title"] = "Comunidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <h1>Parabéns! Você acertou!</h1>
    <h4>Você ganhou 5% de desconto em nossa loja com o cupão: <b>DESAFIO5</b></h4><br />
</div>


