
@{
    ViewData["Title"] = "Comunidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <h1>Que pena! Você errou :( </h1>
    <h4>Tente novamente amanhã e habilite-se a ganhar 5% de desconto em nossa loja!</h4>
</div>


