
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <h1>Comunidade</h1>
    <h4>Somos uma comunidade de entusiatas em botânica, faça parte!</h4><br />

    <h5><i class="fab fa-pagelines" style="font-size:25px"></i><b>  Área de desafio</b></h5>
    <p>Todos os dias teremos uma nova foto com uma planta ou flor e você está desafiado a identificá-la.<br /> O primeiro membro de nossa comunidade que disser corretamente o nome da planta receberá 5% de desconto em compras no nosso site.</p>

    <br />
    <h5><i class="fas fa-people-arrows" style="font-size:25px"></i><b>  Receba ajuda de nossa comunidade</b></h5>
    <p>Aqui você pode fazer o upload de uma foto de uma planta ou flor e nossa comunidade vai ajudar a identificar qual é a planta ou flor.</p>
    <input type="file" name="" class="btn btn-success" accept="image/png, image/jpeg" />
</div>


