
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <h1>Comunidade</h1>
    <h4>Somos uma comunidade de entusiatas em botânica, faça parte!</h4><br />

    <h5><i class="fab fa-pagelines" style="font-size:25px"></i><b>  Área de desafio</b></h5>
    <p>Todos os dias teremos uma nova foto com uma planta ou flor e você está desafiado a identificá-la.<br /> O primeiro membro de nossa comunidade que disser corretamente o nome da planta receberá 5% de desconto em compras no nosso site.</p>
    <div class="row">
        <figure class="col-md-7">
            <img class="img-fluid" src="https://asprojeto.blob.core.windows.net/amandaimages/cha-de-verbena.jpg" />
        </figure>
    </div>
    <div class="row">
        <form action="Comunidade/Desafio" method="post">
            <input type="text" name="nome"/>
            <input type="submit" value="Enviar" class="btn btn-success ml-2" />
        </form>
    </div>

    <br />
    <h5><i class="fas fa-people-arrows" style="font-size:25px"></i><b>  Receba ajuda de nossa comunidade</b></h5>
    <p>Aqui você pode fazer o upload de uma foto de uma planta ou flor e nossa comunidade vai ajudar a identificar qual é a planta ou flor.</p>
    <form action="Comunidade/Upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
</div>


