
@{
    ViewData["Title"] = "Confirmacao Encomenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container text-center">
    <h2>Obrigado por comprar connosco!</h2><br />  
    <h3>Encomenda recebida!</h3>
    <p>Enviamos para o seu email uma confirmação de seu pedido!</p>
    <p>
        Atenciosamente,<br />
        Equipa Mundo das Plantas.
    </p>
    <p>
        <a class="btn btn-success btn-lg" asp-controller="Home" asp-action="Index">Voltar à pagina principal</a>
    </p>
</div>



