@model  Projeto_CLOUD_45_2021.Models.Encomenda
@{
    ViewData["Title"] = "ConfirmacaoEncomenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container text-center">
    <h2>Obrigado por comprar connosco!</h2><br />  
    <h3>Anote o número da sua encomenda:</h3>
    <h2 class="text-success"><b>@ViewBag.Encomenda</b></h2>
    <p>Enviamos para o seu email @ViewBag.EncomendaCliente uma confirmação de seu pedido!</p>
    <p>
        Atenciosamente,<br />
        Equipa Mundo das Plantas.
    </p>
    <p>
        <a class="btn btn-success btn-lg" asp-controller="Home" asp-action="Index">Voltar à pagina principal</a>
    </p>
</div>



