@{
    ViewData["Title"] = "Política de Privacidade";
}
<div class="container">
    <div class="flex-fill">
        <br />
        <h2>Política de Privacidade e Dados Pessoais</h2><br />
        <p style="text-align:justify">
            A Política de Privacidade tem como objetivo proteger a privacidade de todos aqueles que utilizem o Website Mundo das Plantas.

            A Mundo da Plantas, está obrigada ao cumprimento da legislação aplicável nesta matéria, designadamente das regras constantes no Regulamento Geral de Proteção de Dados (“RGPD”), aprovado pelo Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016.

            A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.

            Para proteger as suas informações pessoais, tomamos precauções razoáveis e seguimos as melhores práticas para nos certificarmos que elas não serão perdidas inadequadamente, divulgadas, alteradas ou destruídas.

            Se nos fornecer as suas informações de cartão de crédito, essa informação é criptografada usando tecnologia “secure socket layer” (SSL) e armazenada com uma criptografia AES-256.

            O uso do Mundo das Plantas pressupõe a aceitação deste Acordo de privacidade. A equipa do Bioma Plants reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.

            Assim sendo, caso surja qualquer questão relacionada com o exercício dos seus direitos nesta matéria, não deixe de entrar em contacto connosco. Poderá fazê-lo através do seguinte endereço eletrónico contacto@mundodasplantas.com .
        </p>
    </div>
</div>