@{
    ViewData["Title"] = "Trocas e Devoluções";
}


<div class="container">
    <div class="flex-fill">
        <br />
        <h2>A POLÍTICA QUE TEMOS PARA SI</h2>
        <h4 style="color:brown">Um esforço para atender a toda e qualquer necessidade do cliente.</h4>
        <br />
        <p style="text-align: justify">
            A MUNDO DAS PLANTAS, LDA dedica-se a oferecer a melhor experiência aos seus Clientes. Isso estende-se à política de assistência, onde existe um esforço para atender a toda e qualquer necessidade do Cliente. Ao adquirir um artigo na nossa Loja Online, o consumidor está automaticamente coberto pela Garantia de Satisfação, onde nos primeiros 14 dias pode devolver ou trocar um artigo (salvo exceções descritas no ponto 2) caso este não tenha ido de encontro às suas expectativas.
        </p>
        <p style="text-align: justify">
            1 - CONDIÇÕES DE ACEITAÇÃO PARA TROCAS E DEVOLUÇÕES EM COMPRAS À DISTÂNCIA<br />
            Apesar de serem aceites devoluções/trocas nos primeiros 14 dias em compras à distância (conforme descrito acima), os bens devolvidos só serão aceites caso respeitem escrupulosamente as seguintes condições:

            1.1. O artigo devolvido tem de estar intacto e sem qualquer marca/dano de uso;
            1.2. Terá de devolver o artigo juntamente com a sua embalagem, manuais e acessórios imaculados;
            1.3. Juntamente com o bem devolvido, terá de juntar a fatura onde consta esse mesmo artigo.

            No caso de violação de algum destes pontos, não poderemos aceitar a devolução (e o consequente reembolso) ou a troca.

            Atenção: Deverá solicitar a devolução ou troca via loja online, abrindo para isso um pedido de RMA na área reservada. A assistência e suporte ao Cliente MUNDO DA PLANTAS neste tipo de artigos não está disponível nas lojas físicas.
        </p>
        <p style="text-align: justify">
            2 - ARTIGOS NÃO ACEITES PARA DEVOLUÇÕES/TROCAS<br />
            Existem artigos que pela sua natureza (por questões de higiene, segurança, risco de transmissão de dados, recomendações do fabricante, etc) não podem ser aceites para devoluções/trocas.
        </p>
    </div>
</div>