<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mundo das Plantas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="d-flex flex-column wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-success border-bottom shadow-sm-mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>Mundo das Plantas</b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="https://localhost:44370/">Área restrita</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Comunidade" asp-action="Index" class="nav-link text-white">Comunidade</a>
                            </li>
                        </ul>
                        <div class="align-self-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Utilizadores" asp-action="Create" class="nav-link text-white">Registar</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Utilizadores" asp-action="Login" class="nav-link text-white">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-fill">

            @RenderBody()

        </main>


        <footer class="border-top bg-success text-white">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center">
                        &copy; 2021 - Mundos das Plantas<br />
                        Rua das Plantas, nº 4A<br />
                        22000-000 Lisboa
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a class="text-decoration-none text-white" href="https://www.livroreclamacoes.pt/inicio">Livro de reclamações</a><br />
                        <a class="text-decoration-none text-white" asp-area="" asp-controller="Home" asp-action="TrocasDevolucoes">Trocas e devoluções</a><br />
                        <a class="text-decoration-none text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Política de privacidade</a>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        Precisas de ajuda? Contacte-nos:<br />
                        Email - <a class="text-decoration-none text-white-50" href="mailto:email@dominio.com">contacto@mundodasplantas.com</a><br />
                        Telefone - <a class="text-decoration-none text-white-50" href="phone:212222000">212 222 000</a><br />
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
